body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid grey;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
}

button {
    background-color: white;
    color: crimson;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    border: 2px solid crimson;
    border-radius: 5%;
}

button:hover {
    background-color: crimson;
    color: white;
    border: none;
}